#one{    
    font-size: 60px;
}
#two{

    font-size: 40px;
    
    color: rgb(185, 106, 8);
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
span{
    color: cadetblue;
}
h2{
    font-size: 45px;
}
section{
    display:flex;
}
#four img{
    width: 100%;
    padding-left: 55%;
}
#five{
    width: 50%;
    padding-left: 3%;   
}
.link{
    background-color: rgb(220, 143, 0);
    text-decoration: none;
    border-radius: 3%;
    font-size: 20px;
    background-image: -o-linear-gradient(orange rgb(219, 90, 16));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    text-decoration: dotted;
    margin: 30%;   
   
}
.cool-image{
    background-image: url(images/cool-background.png);
    background-size: ;
    padding-bottom: 21%;
  
}
#part-two{
    display: flex;
    background-image: url(images/cool-background.png);
}

#eidht{
    font-size: 30%;
    width: 50%;
    padding-left: 5px;
    text-size-adjust: 20%;
}
#nine{
    font-size: 30px;
    width: 50%;
    padding-left:30px;
}   
.ten{
    text-align: justify;
    padding-right: 15px;
    padding-left: 2px;

}
.no{
    font-size: 60px;
    padding-left: 5%;
}
.yes{
    font-size: 30px;
    text-align: center;
    
}
.chi{
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
    
  

}
#ki{
    
    
    background-image: url(images/cool-background.png);
    
}
.kamlesh{
    box-sizing: border-box;
    box-shadow: 10px 10px 10px 10px gray;
    margin-left: 10%;
    margin-right: 3%;
}
.jiga{
    border-left: 8px  solid red;
    border-radius: 5px;
}
.jigs{
    border-left: 8px  solid rgb(16, 7, 190);
    border-radius: 5px;

}
footer{
    text-align: center;
}


